.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}
.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.navbar-brand:hover,
.navbar-brand:focus {
  text-decoration: none;
}



nav{
  height:10vh;
  background: #91eb83;
  /* margin-bottom: 2px solid grey; */
}
#navDiv{
  /* border-bottom: 1px solid white; */
}
.nav-links{
  display: flex;
  list-style: none;
  width: 40%;
  justify-content: space-around;
  float:right;
  height:100%;
  margin-top: 3vh;
}
.nav-links li a{
  color:white;
  text-decoration: none;
  font-size: 16px;
}



@media(max-width:990px){
  /* body{
      display: none;
  } */
  .harmburger{
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 29%;
    z-index: 2;
    /* transform: translate(-5%,-50%); */
  }
  .line{
    width: 30px;
    height: 3px;
    background: white;
    margin: 5px;
  }
  .nav{
    position: relative;
      
  }
  .nav-links{
    position: fixed;
    margin-top: 0px;
    max-height:100%;
    width:100%;
    flex-direction: column;
    background: #91eb83;
    align-items: center;
    clip-path: circle(10px at 90% -10%);
    -webkit-clip-path:circle(10px at 90% -10%);
    transition: all 1s ease-out;
  }
  .nav-links.open{
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1340px at 90% -10%);
  }
  .landing{
      flex-direction: column;
  }
  
}