#wrapper{
    background-image:url("../images/grass.jpg");
    /* background-color:red; */
    position:relative;
    height:400px;
    background-repeat: no-repeat;
    background-size: cover;
}
#wrapper > *{
    position:relative;
    z-index:2;
}
#wrapper:after{
    content:'';
    position:absolute;
    background:rgba(0,0,0,.4);
    left:0;
    top:0;
    width: 100%;
    height: 100%;

}

@media(max-width:991px) {
    #serviceHeader{
        font-size: 23px;
    }
    #wrapper{
        background-image:url("../images/grass.jpg");
        /* background-color:red; */
        position:relative;
        height:400px;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    #wrapper > *{
        position:relative;
        z-index:2;
    }
    #wrapper:after{
        content:'';
        position:absolute;
        background:rgba(0,0,0,.4);
        left:0;
        top:0;
        bottom: 0;
        width: 100%;
        height: 100%;
    
    }
}